body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px 5px 5px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin: 10px 0;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 15px 5px;
  margin: 10px 0;
}

.button-container {
  background: #e3f4ff;
  padding: 10px 5px;
  margin: 5px auto;
  text-align: center
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
}