div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

p {
    background-color: green;
    color: text;
    font-size: 18px;
}

button {
    background-color: orange;
    font-size: 18px;
}